#Exclude everything
*
.*

#include some files
!.gitignore
!*.yaml

# include some folders
!packages
!dautomations

#Ignore some files
ip_bans.yaml
secrets.yaml
known_devices.yaml
packages/csv_polestar.yaml
